.card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0;
  background-color: yellow;
  box-shadow: 6px 6px 8px 0px makerShadow;
  max-width: 30rem;
}

.card.dark {
  background-color: Black;
  color: White;
}

.card.light {
  background-color: White;
  color: Black;
}
.card.colorful {
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(212, 149, 161, 1) 60%,
    rgba(162, 63, 63, 1) 100%,
    rgba(127, 188, 242, 1) 100%
  );
}

.avatar {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}

@media screen and (max-width: 768px) {
  .card {
    height: 100%;
  }
}
