.editor {
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

.forms {
  height: 93%;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.title {
  width: 100%;
  text-align: center;
  margin: 0.2rem 0 0.4rem 0;
}

@media screen and (max-width: 768px) {
  .editor {
    height: 50%;
    width: 100%;
    border-right: none;
    padding: 0.1rem 0.5rem;
  }
  .forms {
    height: 86%;
  }
}
