.footer {
  width: 100%;
  height: 15%;
  text-align: center;
  line-height: 2.9rem;
  background-color: #385461;
}

.footer_login {
  display: flex;
  width: 100%;
  height: 5%;
  line-height: 1.8rem;
  justify-content: center;
  align-items: center;
  background-color: #385461;
}

.title {
  height: 100%;
  color: white;
  font-size: 0.8rem;
  margin: 0;
}
