.preview {
  height: 100%;
  width: 50%;
}

.title {
  width: 100%;
  text-align: center;
  margin: 0.2rem 0 0.4rem 0;
}

.cards {
  box-sizing: border-box;
  width: 100%;
  height: 93%;
  margin: 0;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .preview {
    height: 50%;
    width: 100%;
  }
  .cards {
    height: 80%;
  }
}
